a {
  color: #337ab7;
  text-decoration: none;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h3.parameters + table {
  thead tr th:first-child, tbody tr td:first-child {
    white-space: nowrap;
  }
}

.toc-wrapper .toc-link.active {
    background-color: transparent;
    border-left: 4px solid $nav-active-bg;
}

.toc-wrapper .toc-link.active-parent {
    background-color: transparent;
}

.toc-list-h1 > li:last-child { display: none; }

li img { border: 1px solid $nav-subitem-bg }

li aside {
  padding-left: 15px;
  padding-right: 15px;
}

.content h1 { background-color: white; }

.content h2, .middle-header {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: $examples-width;
  margin-left: 0;
  background: white;
  border-top: 0;
  padding: .5em 28px;
  font-size: 18px;
  font-weight: bold;
  box-sizing: border-box;
}

.lang-selector a[data-language-name="http"] { display: none; }

blockquote.main-quote {
  float: none;
  width: auto;
  margin-right: 40%;
  padding: 10px 28px;
  margin-bottom: 14px;
  background-color: transparent;
  color: #252e33;
  border-left: 4px solid #252e33;
}

@media (max-width: $phone-width) {
  .content h2, .middle-header, blockquote.main-quote { margin-right: 0; }
}

img.inline-1 {
    display: inline-block;
    height: 1em;
    padding: 0;
    border: 0;
}
